@model ViewModel.ViewModels.CatalogTypeVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="text-sm">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Catalog Type</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- new vendor form -->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row center" style="float: none; margin: 0 auto;">
                    <div class="col-md-12">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Create</h3>
                            </div>
                            <div class="card-body row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Catalog Type Name</label>
                                        <input type="text" asp-for="name" class="form-control" />
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <input type="text" asp-for="description" class="form-control" />
                                        <span asp-validation-for="description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Image</label>
                                        <input type="text" asp-for="imgUrl" class="form-control" />
                                        <span asp-validation-for="imgUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>

                            </div>
                            <div class="card-footer row">

                                <input type="submit" value="Submit" class="btn btn-success" />
                                &nbsp;
                                <a asp-action="Index" class="btn btn-danger">Cancel</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- new vendor form -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section myScripts{
                <script src="~/plugins/jquery/jquery.min.js"></script>
                <script>
                    $(document).ready(function () {

                        $("form").submit(function () {

                            ShowLoading();

                        });

        @if (TempData["notification"] != null)
        {
            @Html.Raw(TempData["notification"])
        }
                    });


                </script>

}