@model Database.ViewModels.UrlViewModel

@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>AdminLTE 3 | Starter</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary" style="width:30%;margin:auto;margin-top:100px;">
                        <div class="card-header">
                            <h1 class="card-title">   Succes @Model.statuscode Document </h1>
                        </div>

                        <br/>
                        <!-- /.card-header -->
                        <!-- form start -->
                       
                   
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
            <!-- Modal -->
      
        </div><!-- /.container-fluid -->
    </section>
</body>


 

}